<div class="inner">

  <header class="major">
    <h1>Editar Cuenta</h1>
  </header>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row gtr-uniform">

      <div class="col-12">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col-6 col-12-xsmall">
        <%= f.password_field :password, placeholder: "Nueva contraseña", autocomplete: "new-password" %>
        <i>(Dejar en blanco si no se quiere cambiar la contraseña)</i>
        <% if @minimum_password_length %>
          <em>mínimo <%= @minimum_password_length %> caracteres</em>
        <% end %>
      </div>

      <div class="col-6 col-12-xsmall">
        <%= f.password_field :password_confirmation, placeholder: "Confirma tu nueva contraseña", autocomplete: "new-password" %>
      </div>

      <div class="col-12">
        <%= f.password_field :current_password, placeholder: "Contraseña actual", autocomplete: "current-password" %>
        <i>(se necesita la contraseña actual para confirmar los cambios)</i>
      </div>

      <div class="col-12">
        <ul class="actions">
          <li><%= f.submit "Actualizar información" %></li>
        </ul>
      </div>

    </div>
  <% end %>

  <h3>Cerrar la cuenta</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

  <div class="col-12">
    <ul class="actions">
      <li><%= link_to "Atrás", :back, class: "button primary" %></li>
    </ul>
  </div>

</div>
