<h1>Editar Publicación</h1>

<%= form_for [@event, @publication] do |f| %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Título' %>
  </div>

  <div class="field">
    <%= f.text_area :description, placeholder: 'Descripción' %>
  </div>

  <div class="actions">
    <%= f.submit "Editar Publicación" %>
  </div>

<% end %>

<%= link_to 'Mostrar', event_publication_path(@event, @publication) %> |
<%= link_to 'Volver', event_publications_path %>
