<div class="inner">

  <h1>Crear Publicación</h1>

  <%= form_for [@course, @publication] do |f| %>

    <div class="row gtr-uniform">

      <div class="col-12">
        <%= f.text_field :title, placeholder: 'Título' %>
      </div>

      <div class="col-12">
        <%= f.text_area :description, placeholder: 'Descripción' %>
      </div>

      <div class="col-12">
        <ul class="actions">
          <li><%= f.submit "Crear Publicación" %></li>
        </ul>
      </div>

    </div>

  <% end %>

  <div class="col-12">
    <ul class="actions">
      <li><%= link_to 'Volver', course_publications_path(@course), class: "button primary"   %></li>
    </ul>
  </div>

</div>
