<p>
  <strong>Título:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @publication.description %>
</p>

<p>
  <strong>Fecha de creación:</strong>
  <%= @publication.publication_date.strftime("%d/%m/%y: %H:%M:%S") %>
</p>

<%= link_to 'Comentarios', publication_comments_path(@publication) %>

<%=
  if (@publication.created_by == current_user.email) || current_user.administrator?
    link_to 'Editar', edit_publication_path(@publication)
  end
%>

<%= link_to 'Volver', course_publications_path(@course) %>
