<div class="inner">

  <header class="major">
    <h1><%= @publication.title %></h1>
  </header>

  <p><%= @publication.description %></p>

  <br><br>

  <h2 id="content">Comentarios</h2>

  <%=
    if (@publication.created_by == current_user.id) || current_user.administrator?
      link_to 'Editar', edit_publication_path(@publication)
    end
  %>

  <%=
    render partial: "comments/comments", locals: {
    comments: Comment.where(publication_id: @publication.id),
    publication: @publication
    }
  %>

  <ul class="actions">
    <li><%= link_to 'Comentar', new_publication_comment_path(@publication), class: "button" %></li>
    <li><%= link_to 'Volver', course_publications_path(@course), class: "button" %></li>
  </ul>

</div>
