<h1>Editar evento</h1>

<%= form_for @event do |f| %>

  <div class="field">
    <%= f.text_field :category, placeholder: 'Categoría' %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder: 'Descripción' %>
  </div>

  <%= f.collection_select :course_id, Course.order(:name), :id, :name %>

  <%= f.collection_select :room_id, Room.order(:id), :id, :number%>

  <div class="actions">
    <%= f.submit "Editar Evento" %>
  </div>

<% end %>

<%= link_to 'Mostrar', @event %> |
<%= link_to 'Volver', course_events_path(@course) %>
