<h1>Crear nuevo evento</h1>

<%= form_for @event do |f| %>

  <div class="field">
    <%= f.select :category, [['Grupo de Estudio', 'estudio'], ['Busco Clases', 'busco_clase'], ['Ofrezco Clases', 'ofrezco,clase']] %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder: 'Descripción' %>
  </div>

  <%= f.collection_select :course_id, Course.order(:name), :id, :name %>

  <%= f.collection_select :room_id, Room.order(:id), :id, :number%>

  <div class="actions">
    <%= f.submit "Crear Evento" %>
  </div>

<% end %>

<%= link_to 'Volver', events_path %>
