<p>
  <strong>Categoría:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Ramo:</strong>
  <%= Course.find(@event.course_id).name %>
</p>

<p>
  <strong>Ramo:</strong>
  <%= Room.find(@event.room_id).number %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Volver', events_path %>
