<p>
  <strong>Nombre:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @venue.description %>
</p>

<%= link_to 'Salas', venue_rooms_path(@venue) %>

<%=
  if current_user.administrator?
    link_to 'Editar', edit_venue_path(@venue)
  end
%>

<%= link_to 'Volver', venues_path %>
