<div class="inner">

  <header class="major">
    <h1>Lista de todas las salas</h1>
  </header>

  <form>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <input type="text" placeholder="Filtro" name=q value=<%= @q %> <%= @q %> >
      </div>
      <div class="col-6 col-12-xsmall">
        <button type=”submit”>Filtrar</button>
      </div>
    </div>
  </form>
  <form>
    <div class="row gtr-uniform">
      <div class="col-12">
        <button type=”submit”>Quitar Filtro</button>
      </div>
    </div>
  </form>

  <div class="table-wrapper">

    <table class="alt">
      <thead>
        <tr>
          <th>Número</th>
          <th>Campus</th>
          <% if current_user.administrator? %>
            <th colspan="3"></th>
          <% else %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.number %></td>
            <td><%= Venue.find(room.venue_id).name %></td>
            <td><%= link_to 'Mostrar', room %></td>
            <% if current_user.administrator? %>
              <td><%= link_to 'Editar', edit_room_path(room) %></td>
            <% end %>
            <% if current_user.administrator? %>
              <td><%= link_to 'Eliminar', room, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
