<h1>Editar sala</h1>

<%= form_for @room do |f| %>

  <div class="field">
    <%= f.text_field :letter, placeholder: 'Letra' %>
  </div>

  <div class="field">
    <%= f.text_field :number, placeholder: 'Número' %>
  </div>

  <div class="actions">
    <%= f.submit "Editar sala" %>
  </div>

<% end %>

<%= link_to 'Mostrar', @room %> |
<%= link_to 'Volver', rooms_path %>
