<h1>Editar sala</h1>

<%= form_for @room do |f| %>

  <div class="field">
    <%= f.text_field :number, placeholder: 'Número' %>
  </div>

  <%= f.collection_select :venue_id, Venue.order(:name), :id, :name %>

  <div class="actions">
    <%= f.submit "Editar sala" %>
  </div>

<% end %>

<%= link_to 'Mostrar', @room %> |
<%= link_to 'Volver', venue_rooms_path(@venue) %>
