<div class="inner">

  <h1>Editar ramo</h1>

  <%= form_for @course do |f| %>

    <div class="field">
      <%= f.text_field :name, placeholder: 'Nombre' %>
    </div>

    <div class="field">
      <%= f.text_field :initials, placeholder: 'Iniciales' %>
    </div>

    <div class="field">
      <%= f.text_field :teacher_name, placeholder: 'Nombre del Profesor' %>
    </div>

    <%= f.collection_select :room_id, Room.order(:number), :id, :number %>

    <div class="actions">
      <%= f.submit "Editar ramo" %>
    </div>

  <% end %>

  <%= link_to 'Mostrar', @course %> |
  <%= link_to 'Volver', room_courses_path(@room) %>

</div>
