<div class="inner">

  <header class="major">
    <h1>Lista de ramos creados</h1>
  </header>

  <div class="table-wrapper">

    <table class="alt">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Iniciales</th>
          <th>Nombre del Profesor</th>
          <th>Sala</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.initials %></td>
            <td><%= course.teacher_name %></td>
            <td><%= Room.find(course.room_id).number %></td>
            <td><%= link_to 'Mostrar', course %></td>
            <td><%= if current_user.administrator?
                      link_to 'Editar', edit_course_path(course)
                    end %></td>
            <td><%= if current_user.administrator?
                      link_to 'Eliminar', course, method: :delete, data: { confirm: '¿Estás seguro?' }
                    end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <br>

  <%=
    if current_user.administrator?
      link_to 'Crear nuevo', new_room_course_path(@room)
    end
  %>

</div>
