<h1>Lista de ramos creados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Iniciales</th>
      <th>Nombre del Profesor</th>
      <th>Campus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.initials %></td>
        <td><%= course.teacher_name %></td>
        <td><%= Venue.find(course.venue_id).name %></td>
        <td><%= link_to 'Mostrar', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo', new_course_path %>
