<h1>Crear ramo</h1>

<%= form_for @course do |f| %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Nombre' %>
  </div>

  <div class="field">
    <%= f.text_field :initials, placeholder: 'Iniciales' %>
  </div>

  <div class="field">
    <%= f.text_field :teacher_name, placeholder: 'Nombre del Profesor' %>
  </div>

  <%= f.collection_select :venue_id, Venue.order(:name), :id, :name %>

  <div class="actions">
    <%= f.submit "Crear ramo" %>
  </div>

<% end %>

<%= link_to 'Volver', courses_path %>
