<div class="inner">

  <h1>Crear ramo</h1>

  <%= form_for [@room, @course] do |f| %>

    <div class="row gtr-uniform">

      <div class="col-6 col-12-xsmall">
        <%= f.text_field :name, placeholder: 'Nombre' %>
      </div>

      <div class="col-6 col-12-xsmall">
        <%= f.text_field :initials, placeholder: 'Iniciales' %>
      </div>

      <div class="col-6 col-12-xsmall">
        <%= f.text_field :teacher_name, placeholder: 'Nombre del Profesor' %>
      </div>

      <div class="col-6 col-12-xsmall">
        <%= f.collection_select :room_id, Room.order(:number), :id, :number %>
        <i>Sala en la que se dicta</i>
      </div>

      <div class="col-12">
        <ul class="actions">
          <li><%= f.submit "Crear ramo" %></li>
        </ul>
      </div>

    </div>

  <% end %>

  <div class="col-12">
    <ul class="actions">
      <li><%= link_to 'Volver', room_courses_path(@room), class: "button primary" %></li>
    </ul>
  </div>

</div>
