<p>
  <strong>Nombre:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Iniciales:</strong>
  <%= @course.initials %>
</p>

<p>
  <strong>Nombre del Profesor:</strong>
  <%= @course.teacher_name %>
</p>

<p>
  <strong>Campus:</strong>
  <%= Venue.find(@course.venue_id).name %>
</p>

<%=
  if current_user.administrator? || @is_moderator
    link_to 'Revisar solicitudes de moderador', course_moderator_requests_path(@course)
  else
    link_to 'Solicitar ser moderador', new_course_moderator_request_path(@course, @is_moderator)
  end
%>

<%=
  if current_user.administrator?
    link_to 'Editar', edit_course_path(@course)
  end
%>

<%= link_to 'Volver', room_courses_path(@room) %>
