<header id="header" class="alt">
  <%= link_to root_url, class: "logo" do %>
    <strong>Somos</strong> <span>Secos</span>
  <% end %>
  <nav>
    <%= link_to "", "#menu" %>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><%= link_to "Inicio", root_url %></li>
    <li><%= link_to "Mensajería", conversations_url %></li>
    <li><%= link_to "Campuses", venues_url %></li>
    <li><%= link_to "Salas de Estudio", rooms_catalog_url %></li>
    <li><%= link_to "Ramos", courses_catalog_url %></li>
    <li><%= link_to "Eventos", events_catalog_url %></li>
    <li><%= link_to "Publicaciones", publications_catalog_url %></li>
  </ul>
  <ul class="actions stacked">
    <% if user_signed_in? %>
      <li><%= link_to "Editar Perfil", edit_user_registration_path, class: "button primary fit" %></li>
      <li><%= link_to "Cerrar Sesión", destroy_user_session_path, class: "button fit" %></li>
    <% else %>
      <li><%= link_to "Regístrate!", new_user_registration_url, class: "button primary fit" %></li>
      <li><%= link_to "Iniciar Sesión", new_user_session_url, class: "button fit" %></li>
    <% end %>
  </ul>
</nav>
